<div class="food-details-cont">
  <div class="food-info fomrs-contaier">
    <div class="creation-forms">
      <h2 class="subheadings">Add ingredient</h2>
      <%= form_with(model: @food_recipes, url: foods_recipes_path, method: :post, local: true) do |f| %>

        <div class="field">
          <%= f.label(:food_id, "Choice ingredient from the list" )%>
          <%= f.collection_select :food_id, Food.order(:name), :id, :name %>
        </div>

        <div class="field">
          <%= f.label(:quantity, "Quantity") %>
          <%= f.number_field :quantity %>
        </div>

         <div class="field">
            <%= f.number_field :recipe_id,
            value: params[:recipe_id],
            type: :hidden
            %>
          </div>

        <div class="form-actions">
          <%= f.submit "Add ingredient", class: "creator-btns" %>
        </div>
      <% end %>
    </div>
  </div>
</div>