<%= form_with(model: recipe) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.text_field :preparation_time %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time %>
  </div>

  <div class="field-textarea">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field-checkbox">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-actions">
      <%= form.submit "Add recipe", class: "creator-btns" %>
      <%= link_to "Cancel", recipes_path, class: 'delete-btns'%>
    </div>
  <% end %>
