<div class="recipe-card">
  <div class="recipe-card-heading">
    <h3 class="food-info-headings"><%= recipe.name %></h3>
    <p>Added by <%= recipe.user.name %></p>
  </div>
  <div class="recipe-card-contetn">
    <div class="recipe-prew">
       <%if recipe.food_recipes != nil %>
        <div class="contetn-field recipe-content">
          <h4 class="recipe-subheadings">Total number of ingredients required: <h4>
          <p><%= recipe.food_recipes.length %></p>
        </div>

        <div class="contetn-field recipe-content">
          <h4 class="recipe-subheadings">Total price: <h4>
          <p><%= recipe.calculate_total %> USDs </p>
        </div>
       <% else %>
        <h4>Total number of ingredients required: 0</h4>
        <h4>Total price: 0 USDs </h4>
       <% end %>
    </div>
    <div class="recipe-card-actions">
      <%= link_to "See more", recipe_path({id: recipe.id}), class: "creator-btns" %>
    </div>
  </div>
</div>