<div class="food-details-cont">
  <div class="recipe-info">
    <h2 class="subheadings recipe-info-heading"><%= @recipe.name %></h2>
    <div class="food-content">
      <div class="contetn-field"><h2 class="food-info-headings">Name: </h2><p><%= @recipe.name %><p></div>
      <div class="contetn-field"><h2 class="food-info-headings">Status: </h2><p><%= @recipe.public ? "Public" : "Private" %><p></div>
      <div class="contetn-field"><h2 class="food-info-headings">Prepararion time: </h2><p><%= @recipe.preparation_time %><p></div>
      <div class="contetn-field"><h2 class="food-info-headings">Cooking time: </h2><p><%= @recipe.cooking_time %><p></div>
      <div class="contetn-field"><h2 class="food-info-headings">Chef: </h2><p><%= @recipe.user.name %><p></div>
      <div class="recipe-actions">
       <%= link_to "Generate shopping list", recipe_shoping_list_path({recipe_id: @recipe.id }), class: "sign-up-btns" %>
       <%= link_to "Add ingridiants", new_foods_recipe_path(recipe_id: @recipe.id), class: "creator-btns" %>
      </div>
    </div>
    <div class="recipte-ingridiants">
      <h2 class="subheadings recipe-info-heading"> Required Ingridiants</h2>
      <table>
        <thead>
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @recipe.foods_recipes.each do |food_recipe| %>
            <%= render 'foods_recipes/food_recipe', :food_recipe => food_recipe %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="recipe-post-actions">
       <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "sign-up-btns" %>
       <%= link_to "Back to recipes", recipes_path, class: "creator-btns"%>
        <% if can? :destroy, @recipe %>
          <%= button_to "Destroy this recipe",
              @recipe, 
              method: :delete,
              style: "padding: 10px 20px;
                              border: none;
                              border-radius: 5px;
                              background: linear-gradient(#f36033, #b34320);
                              color: #ffffff;
                              font-size: 14px;"  %>
        <% end %>
    </div>
  </div>
</div>

