<div class="food-details-cont">
  <div class="food-info fomrs-contaier main-forms-container">
    <h1 class="hero-text main-hero">
        Chef
    </h1>
    <div class="creation-forms main-forms-creators">
      <h2 class="subheadings">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        
        <div class="main-forms-actions">
          <%= f.submit "Send me reset password instructions", class: "delete-btns" %>
          <p>or</p>
          <%= link_to "Sign up", new_user_registration_path, class: "sign-up-btns"%>
          <%= link_to "Log in", new_user_session_path, class: "creator-btns main-forms-logins" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
