<div class="creation-forms">
  <h2>Add ingredient</h2>
  <%= form_with(model: @food, url: foods_path, method: :post, local: true) do |f| %>
    <div class="field">
      <%= f.label(:name, "Name") %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label(:price, "Price") %>
      <%= f.number_field :price %>
    </div>
    
    <div class="field">
      <%= f.label(:measurement_unit, "Measurement unit") %>
      <%= f.text_field :measurement_unit %>
    </div>

    <div class="actions">
      <%= f.submit "Add ingredient" %>
    </div>
  <% end %>
</div>